<div class="row">
<%= form_for(@party) do |f| %>
  <%= render 'shared/error_messages_parties' %>

  <div class="col-md-6">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label t(:category) %><br>
    <%= f.text_field :category, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label t(:addinfo) %><br>
    <%= f.text_field :addinfo, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label t(:musicstyle) %><br>
    <%= f.select(:musicstyle, [['', ''], ['Alternativa', 'Alternativa'], ['Anos 70/80', 'Anos 70/80'], ['Eletrônica', 'Eletrônica'], ['Indie', 'Indie'], ['Pop', 'Pop'], ['Rap', 'Rap'], ['Rock', 'Rock'], ['Sertanejo', 'Sertanejo']], {}, { :class => 'form-control' }) %>
  </div>
  <div class="col-md-6">
    <%= f.label t(:partydate) %><br />
    <%= f.date_field :partydate, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label t(:partytime) %><br />
    <%= f.text_field :partytime, class: 'form-control', placeholder: "Ex.: 23h" %>
  </div>

</div>
  <div class="actions">
    <%= f.submit "Criar festa", class: "btn btn-primary" %>
  </div>
<% end %>
