<div class="row">
<%= form_for(@party) do |f| %>
  <%= render 'shared/error_messages_parties' %>

  <div class="col-md-6">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label t(:category) %><br>
    <%= f.text_field :category, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label t(:add_info) %><br>
    <%= f.text_field :add_info, class: 'form-control' %>
  </div>
  <div class="col-md-6">
    <%= f.label t(:music_style) %><br>
    <%= f.select(:music_style, [['Alternativa', 'alternativa'], ['Anos 70/80', 'anos70'], ['Eletrônica', 'eletronica'], ['Indie', 'indie'], ['Pop', 'pop'], ['Rap', 'rap'], ['Rock', 'rock'], ['Sertanejo', 'sertanejo']], {}, { :class => 'form-control' }) %>
  </div>
  <div class="col-md-6">
    <%= f.label t(:partydate) %><br />
    <%= f.date_field :partydate, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= f.label t(:partytime) %><br />
    <%= f.text_field :partytime, class: 'form-control', placeholder: "Ex.: 23h" %>
  </div>

</div>
  <div class="actions">
    <%= f.submit "Criar festa", class: "btn btn-primary" %>
  </div>
<% end %>
