    <li>
      <div class="col-md-2">
        <%#= gravatar_for night_house %>
        Foto
        </div>
      <div class="col-md-10">
        <%= link_to party.name, party %>
        <h6>
          <%= party.category %> · <%= party.musicstyle %><br />
          <%= party.partydate %> · <%= party.partytime %><br />
          <%= party.night_house.name %> (<%= party.night_house.address %>)
          </h6>
      </div>
    </li>
