    <li>
      <div class="col-md-3">
        <%#= gravatar_for night_house %>
        <% if party.picture? %>
          <%= link_to party do %>
            <%= image_tag party.picture.url, size: "150" %>
          <% end %>
        <% end %>
        </div>
      <div class="col-md-9">
        <h4><%= link_to party.name, party %></h4>
          <%= party.category %> · <%= party.musicstyle %><br />
          <%= party.partydate %> · <%= party.partytime %><br />
          <%= link_to party.night_house.name, party.night_house %> (<%= party.night_house.address %>)
      </div>
    </li>
