



<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @party.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @party.category %>
</p>

<p>
  <strong>Add info:</strong>
  <%= @party.addinfo %>
</p>

<p>
  <strong>Music style:</strong>
  <%= @party.musicstyle %>
</p>

<p>
  <strong>Nighthouse:</strong>
  <%#= @party.night_house_id.name %>
</p>

