    <li>
      <div class="col-md-2"><%= gravatar_for user %></div>
      <div class="col-md-10"><%= link_to user.name, user %>
      <h6><%= user.city %>, <%= user.state %><br />
      <%= user.college %></h6></div>
    </li>
