<% provide(:title, 'Cadastro') %>
<h1>Cadastre-se!</h1>
<div class="row">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <!-- <div class="col-md-6"> -->
      <div class="col-md-6">
        <%= f.label t(:name) %><br />
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label t(:email) %><br />
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label t(:cellphone) %><br />
        <%= f.text_field :cellphone, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label t(:birthdate) %><br />
        <%= f.text_field :birthdate, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label t(:occupation) %><br />
        <%= f.text_field :occupation, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label t(:college) %><br />
        <%= f.text_field :college, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label t(:state) %><br />
        <%= f.text_field :state, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label t(:city) %><br />
        <%= f.text_field :city, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label t(:neighbourhood) %><br />
        <%= f.text_field :neighbourhood, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label t(:password) %><br />
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <div class="col-md-6">
        <%= f.label t(:password_confirmation), "Confirmation" %><br />
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    <!-- </div> -->

      <div class="col-md-12">
        <%= f.submit "Crie minha conta", class: "btn btn-primary" %>
      </div>
    <% end %>
</div>
