<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <div class="col-md-3">
        <%= gravatar_for @user %>
      </div>
      <div class="col-md-9">
        <h3><%= @user.name %></h3>
        <span class="glyphicon glyphicon-briefcase"  style="margin-top: 5px; color: #666;"></span> <%= @user.occupation %><br/>
        <span class="glyphicon glyphicon-book"       style="margin-top: 5px; color: #666;"></span> <%= @user.college %><br/>
      </div>
    </div>
    <div class="col-md-6">
      <br />
      <% if !(logged_in? && @current_user.id == @user.id) %>
        <br />
        <br />
      <% end %>
      <span class="glyphicon glyphicon-gift"       style="margin-top: 5px; color: #666;"></span> <%= @user.birthdate %><br/>
      <span class="glyphicon glyphicon-map-marker" style="margin-top: 5px; color: #666;"></span> <%= @user.city %> - <%= @user.state %><br/>
      <% if logged_in? && @current_user.id == @user.id %>
        <span class="glyphicon glyphicon-map-marker" style="margin-top: 5px; color: #666;"></span> <%= @user.neighbourhood %> <span class="glyphicon glyphicon-lock" style="color: #666;"></span><br/>
        <span class="glyphicon glyphicon-envelope"   style="margin-top: 5px; color: #666;"></span> <%= @user.email %> <span class="glyphicon glyphicon-lock" style="color: #666;"></span><br/>
        <span class="glyphicon glyphicon-phone"      style="margin-top: 5px; color: #666;"></span> <%= @user.cellphone %> <span class="glyphicon glyphicon-lock" style="color: #666;"></span><br/>
      <% end %>
    </div>
  </div>
</div>
<hr />
<div class="row" style="margin-top:20px;">
  <div class=col-md-12>
    <h3>Festas que foi</h3>
    <row style="text-align:center;">
    <% @checkins.each do |ck| %>
      <div class="col-md-2">
        <%= image_tag ck.party.picture, size: '150' %><br />
        <h6><%= link_to ck.party.name, ck.party %> @ <%= link_to ck.party.night_house.name, ck.party.night_house %></h6>
      </div>
    <% end %>
    </row>
  </div>
</div>
<hr />
<div class="row">
  <div class=col-md-12>
    <h3>Fotos postadas</h3>
    <row style="text-align:center;">
    <% @photos.each do |p| %>
      <div class="col-md-2">
        <%= image_tag p.pic, size: '150' %><br />
        <h6 style="margin-top:10px;"><%= link_to p.party.name, p.party %> @ <%= link_to p.party.night_house.name, p.party.night_house %></h6>
      </div>
    <% end %>
  </row>
  </div>
</div>
