<p id="notice"><%= notice %></p>

<h1>Listing Night Houses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cnpj</th>
      <th>Email</th>
      <th>Category</th>
      <th>State</th>
      <th>City</th>
      <th>Neighbourhood</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @night_houses.each do |night_house| %>
      <tr>
        <td><%= night_house.name %></td>
        <td><%= night_house.cnpj %></td>
        <td><%= night_house.email %></td>
        <td><%= night_house.category %></td>
        <td><%= night_house.state %></td>
        <td><%= night_house.city %></td>
        <td><%= night_house.neighbourhood %></td>
        <td><%= night_house.address %></td>
        <td><%= link_to 'Show', night_house %></td>
        <td><%= link_to 'Edit', edit_night_house_path(night_house) %></td>
        <td><%= link_to 'Destroy', night_house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Night house', new_night_house_path %>
