<% provide(:title, @night_house.name) %>
<div class="row">
  <div class="col-md-6">
    <h1>
      <%= gravatar_for @night_house %>
      <%= @night_house.name %>
    </h1>
  </div>
  <div class="col-md-6">
    <br />
    <span class="glyphicon glyphicon-map-marker"></span> <%= @night_house.city %> - <%= @night_house.state %> | <%= @night_house.address %> - <%= @night_house.neighbourhood %><br />
    <span class="glyphicon glyphicon-music"></span> <%= @night_house.category %><br />
    <% if nhlogged_in? && @current_nh.id == @night_house.id %>
      <span class="glyphicon glyphicon-lock"></span> <%= @night_house.cnpj %><br />
      <span class="glyphicon glyphicon-envelope"></span> <%= @night_house.email %><br />
    <% end %>
  </div>
</div>

<!-- <p>
  <strong>Cnpj:</strong>
  <%#= @night_house.cnpj %>
</p>

<p>
  <strong>Email:</strong>
  <%#= @night_house.email %>
</p> -->
